@import '../../styles/variables.scss';

button {
  @include generalTransition;
  color: $primary-text-dark;
  border: 1px solid $primary-text-dark;

  &:hover {
    color: $primary-color-sand;
    background-color: $primary-text-dark;
  }
}