/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables.scss';
@import 'font-awesome';

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  -o-tab-size: 4;
  font-family: "Roboto Light", sans-serif;
}

body {
  background: $primary-color-sand;
  padding: 0;
  margin: 0;
  line-height: inherit;
  display: flex;
  color: $primary-text-dark;
  overflow-x: hidden;
}

hr {
  background-color: $primary-color-grey;
  height: 5px;
  border-color: $primary-color-grey ;
  border-radius: 5px;
}


/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  font-size: 1.5rem;
  /*margin: 0;*/
}

.global-color-grey {
  background-color: $primary-color-grey;
}

